/* work sans font from google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Work+Sans:wght@100;300;400;500;600;700;800&display=swap');
  /* shared styles */
  * {
   
    font-family: 'Work Sans', sans-serif;
  }
  .btn-primary{
    display: flex;
    border-radius: 48px;
    color: #FFF;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 20px 40px;
    cursor: pointer;
    border: 0;
    gap: 10px;

  }
  .btn-second{
    display: flex;
    border-radius: 48px;
    color: #FFF;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
    background: #4EC5F7;
    padding: 20px 40px;
    cursor: pointer;
    border: 0;
    gap: 10px;
  }

  /* header styles */
  header{
    background-color: #FFF;
    padding: 38px 346px 1426px;
    text-align: left;
  }
  nav{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
  .nav-title{
font-size: 45px;
font-weight: 700;
color: #0B0223;
  }
  nav > ul {
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 50px;
   text-align: right;
   font-weight: 500;
   font-size: 18px;
  }
  nav li a{
    text-decoration: none;
    color: #3C354F;
  }
  .img-container{
    display: flex
    ;
    text-align: right;
    max-width: 100%;
    
  }

  /* banner styles */
  .banner-content{
    max-width: 900px;
    text-align: left;
    margin: 0 auto;
    background: #FFF;
  }
  .banner-title{
    font-weight: 600;
    font-size: 48px;
    color: #0B0223;
  }
.banner-title .play-like-the{
  color: #0B0223;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}
.banner-title .goat{
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  .banner-description{
    font-weight: 500;
    font-size: 20px;
    color: #534C64;
  }
  .banner img{
    display: flex;
    
  }

/* main styles */
  main{
    max-width: 885px;
    margin: 0 auto;
  }

  /* gamer styles */
  .gamers-container{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

  }
  .gamers-content{
    display: flex;
    
  }
  .gamers-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.gamers-description{
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* online games styles */
.games-container{
  margin-top: 45px;
  display: flex;
  border-radius: 16px;
  gap: 24px;

}
/* paly instanly styles */
.play-instanly{
  margin-top: 120px;
  display: flex;
  width: 1920px;
  height: 5927px;
  background-color: #FFF;
}

.play-instanly-title{
  text-align:justify;
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;

}
.play-instanly-title .play{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* more games styles */
.more-games-img-container{
  display: flex;
  justify-content: space-evenly;
}
/* footer styles */
.footer-container{
  background-color: #0B0223;
  margin-top: 40px;

}
.footer-content{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
 

}
.footer-img{
  text-align: center;

}
.footer-description{
  display: inline-flex;
 gap: 60px;
}
.footer-content-img{
  text-align: center;
  gap: 40px;
}
.footer-buttom{
  text-align: center;
}



/* responsive media queries */
  /* mobile devices */
  @media screen and (max-width: 576px) {
    header{
      padding: 20px;
    }
    nav{
      flex-direction: column;
    }
    
  }
  .btn-primary .btn-second{
    flex-direction: column;
  }
  main{
    flex-direction: auto;

  }
  .gamers-container .gamers-content .gamers-description .gamers-title{
    flex-direction: column;
  }
  .games-container{
    flex-direction: column;
  }
  .play-instanly .play-instanly-title ..play-instanly-title .play{
    flex-direction: column;
  }
  .more-games-img-contain{
    flex-direction: column;
  }
  .footer-container .footer-content .footer-content-img .footer-img .footer-description .footer-buttom{
    flex-direction: column;
  }

  /* tablet or medium devices */
  @media screen and (min-width:576px) and (max-width:960px) {
    header{
      padding: 50px;
    }
    nav{
      flex-direction: column;
    }
  }
  .btn-primary .btn-second{
    flex-direction: column;
  }
  main{
    flex-direction: auto;

  }
  .gamers-container .gamers-content .gamers-description .gamers-title{
    flex-direction: column;
  }
  .games-container{
    flex-direction: column;
  }
  .play-instanly .play-instanly-title ..play-instanly-title .play{
    flex-direction: column;
  }
  .more-games-img-contain{
    flex-direction: column;
  }
    .footer-container .footer-content .footer-content-img .footer-img .footer-description .footer-buttom{
      flex-direction: column;
    }